body{
    background: #BDBDBD;
}
.height-nav{
    height: 25px;
    padding-left: 20%;
    font-weight: lighter;
    border-right: 

}
.start-bootstrap{
    margin-right: 20%;
    font-size: medium;
}
.about{
margin-left: 20%;
font-size: small;
}
.services{
margin-left: 20%;
font-size: small;
}
.portfolio{
margin-left: 20%;
font-size: small;
}
.contact{
margin-left: 20%;
font-size: small;
}