<!-- your html code here -->

<div class="container-fluid"> 
    <div class="col-2"> 
        <div class = "row d-flex">
            <h1>  The second Heading <span class= "gris">Is Pretty Cool Too </span> </h1> 
            <p> Donec ullamcorper nulla non metus auctor frungilla. Vestibulum id ligula porta felis <br> 
            euismod semper.Praesent commodo cursus magna, vel scelerisque nisl consectetur. <br>
            Fusce dapibus, tellus ac cursus commodo.
            </p>
        </div>
        <div class="col-8">
            <img src="/website/assets/img/2.jpg" class="rounded-circle" alt="100%">
        </div>
    </div>

</div>
