<!-- your html code here -->
<link rel="stylesheet" src="styles.css">
<div class="contenido"> 
    <div class = "derecha">
        <h1>  The second Heading <span class= gris>Is Pretty Cool Too </span> </h1> 
        <p> Donec ullamcorper nulla non metus auctor frungilla. Vestibulum id ligula porta felis <br> 
        euismod semper.Praesent commodo cursus magna, vel scelerisque nisl consectetur. <br>
        Fusce dapibus, tellus ac cursus commodo.
        </p>
    </div>
    <div class="Imagen">
        <img src="/website/assets/img/2.jpg" class="rounded-circle" alt="">
    </div>

</div>
